#TopBar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(81, 191, 255);
}

a {
    color: rgb(29, 123, 247);
    text-decoration: none;
    font-weight: bold;
}

#TopBar > * {
    margin: 0 1em;
}

#TopBar .userbox {
    margin-left: auto;
}

#TopBar .logo {
    margin-right: auto;
}
